{% extends 'base.html' %}
<!--Load Humanize-->
{% load humanize %}

{% block title %}Dashboard{% endblock title %}
<!--Load Content-->
{% block content %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
  <div class="container breadcrumb-area">
    <div class="breadcrumb-areas">
      <h1>Dashboard</h1>
      <ul class="breadcrumbs">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="active">{{ user.username }}</li>
      </ul>
    </div>
  </div>
</div>
<!-- Sub Banner end -->

<!--   Dashboard Start   -->

<div class="container mt-50 mb-50">
  <div class="main-title" style="text-align: left !important">
    <h1>Welcome <span>{{ user.username }}</span></h1>
    <p>Here are the cars that you have inquired about</p>
  </div>
  {% include 'includes/messages.html' %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Car Name</th>
        <th scope="col">Location</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

      {% if inquiries %}
        {% for inquiry in inquiries %}
          <tr>
            <th scope="row">#</th>
            <td>{{ inquiry.car.car_title }}</td>
            <td>{{ inquiry.city }}</td>
            <td>${{ inquiry.car.price | intcomma }}</td>
            <td><a href="{% url 'car' inquiry.car.id %}" class="btn btn-outline-dark">View Car</a></td>
          </tr>
        {% endfor %}
      {% else %}   
      <h3>You don't have any inquiry</h3>
      {% endif %}
      
    </tbody>
  </table>
</div>

<!--   Dashboard End   -->

{% endblock content %}
